*{
    border: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #ecf0f3;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background-color: #ecf0f3;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #ffffff,
                      5px 5px 12px rgba(0,0,0,.16);
    display: grid;  
    grid-template-columns: repeat(4,68px);                
}

input{
    grid-column: span 4;
    height: 70px;
    width: 260px;
    background-color: #ecf0f3;
}